<div class="navbar" id="navigation">
    <div class="logo">
        <a routerLink="/home"><span class="first">Enova</span><span class="second">Robotics</span></a>
    </div>
   
    <ul class="center-nav">
        <div class="menu-item">
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="#" routerLink="/home"> Home </a></li>         
        </div>
        <div class="menu-item">
            <li><i class="fa fa-users" aria-hidden="true"></i><a routerLink="/robots"> Manage Robots </a></li>           
        </div>

        <div class="menu-item">
            <li><i class="fa fa-line-chart" aria-hidden="true"></i><a routerLink="/zones"> Manage Zones </a></li>
        </div>

        <div class="menu-item">
            <li><i class="fa fa-line-chart" aria-hidden="true"></i><a routerLink="/schedulers"> Manage Schedulers </a></li>
        </div>

        <div class="menu-item">
            <li><i class="fa fa-comments" aria-hidden="true"></i><a routerLink="/missions"> Missions </a></li>
        </div>
        
    </ul>
    <ul class="bottom-nav">
        <hr>
        <div class="menu-item">
            <li><i class="fa fa-sign-out" aria-hidden="true"></i><a href="#"> Logout </a></li>
        </div>
       
    </ul>
</div>