*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color :  #a39e9e63;
    overflow: hidden;
}



.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.form-vertical{
    background: rgba(255, 255, 255, 0.1); /* Translucent background */
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    text-align: center;
    backdrop-filter: blur(15px); /* Frosted glass effect */
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: black;
}

.logo{
    width: 80px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    font-size:18px;
    color: black;
}

.input-group input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    outline: none;
    transition: all 0.3s ease;
}

.btn-container{
    position: relative;
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.btn-container .submit-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    background: blue;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

.submit-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}


p{
    font-size: 20px;
}
.login-link {
    margin-top: 15px;
    font-size: 0.9rem;
    color : black;
}

.login-link a {
    color: #e86499;
    text-decoration: none;
    font-weight: 500;
}

.login-link a:hover {
    text-decoration: underline;
}